{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div id="" class="col s12">
        <ul id="profhead">
            <li class="col s2"> Full name: {{ user.get_full_name }} </li>
            <li class="col s2"> @{{ user.username }} </li>
            <li class="col s2"> Id: {{ user.id }} </li>
            <li class="col s2"> Email: {{ user.email }}</li>
            <li class="col s2"> Group: {{ user.groups.all.0 }}</li>
        </ul>
    </div>
    <div>
        <br><br><br>
        <hr>

        <table>
            <thead>
                <tr>
                    <th class="center-align">Attending</th>
                    <th class="center-align">Created</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="center-align">{{ event.title }}</td>
                    <td class="center-align">{{ event.title }}</td>
                </tr>
                <tr>
                    <td class="center-align">{{ event.title }}</td>
                    <td class="center-align">{{ event.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>Session Started at: {{ user.last_login }}</h3>
{% endblock %}